.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.login-form {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-form h2 {
  color: #000000;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: left; /* Align text to the left */
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-size: 0.9rem;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #688834;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5e7c34;
}

.login-background {
  flex: 1;
  background-color: #68883A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  height:395px;
  min-width: 300px;
}

.soccer-ball {
  width: 260px;
  height: auto;
  margin-bottom: 1rem;
}

.login-background h1 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-family: 'Moo Lah Lah';
  font-weight:100;
  text-align: center;
}

p {
  margin-top: 1rem;
  color: #666;
  text-align: center;
}