/* FAQ Section */
.faq-container {
    display: flex;
    justify-content: space-between;
    padding: 135px 170px; /* 80px top and bottom, 30px left and right */
    background-color: #ffffff;
  }
  
  .faq-left {
    width: 60%;
  }
  
  .faq-left h1 {
    color: #68883A;
    font-family: 'Quicksand';
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    font-family: 'Quicksand';
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Only bottom border */
  }
  
  .faq-question.active {
    background-color: #f5f5f5; /* Light gray background when active */
    color: #68883A; /* Green text when active */
    font-weight: bold;
  }
  
  .faq-question:hover {
    background-color: #f5f5f5;
  }
  
  .faq-answer {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: none;
    color: #000000;
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .arrow.rotate {
    transform: rotate(90deg);
  }
  
  .faq-right {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .faq-right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  