.sbody {
    padding: 40px 20px;
    background-color: #f5f5f5;
  }
  
  .sbody-section {
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    font-family: 'Quicksand';
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-link {
    text-decoration: none; /* Remove underline from Link */
    color: inherit; /* Inherit text color */
    display: block; /* Ensure the Link takes the full section area */
  }
  
  .card-link:hover .sbody-section {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Hover effect */
    transform: translateY(-2px); /* Slight lift on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-icon {
    width: 70px;
    height: 70px;
  }
  
  .card-description {
    margin: 16px 0 24px 0;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    color: #000000;
  }
  
  .card-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 1;
    padding: 16px;
    background-color: #ffffff;
    min-width: 260px;
  }
  
  .card-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 15px;
  }
  
  .tick-icon {
    width: 34px;
    height: 34px;
    margin-right: 8px;
  }
  
  .card-text {
    font-size: 13px;
    color: #555;
    line-height: 1.5;
    text-align: justify;
    margin-left: 0px;
  }